<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Fontdiner+Swanky" rel="stylesheet">

	<!-- Compiled and minified Materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Burgerlicious Devour Menu</title>
</head>
<background-img src="/assets/img/lukesburgers.jpg" width="300px" height="300" id="cute_burger"></background-img>

<body>

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text text-lighten-4">littleGuy DevOps</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/jameslfuller/burgerMaker">Reference Work</a>
			</div>
		</div>
	</footer>
</body>
</html>